@model IEnumerable<InformCPISolution.Domain.Dto.ContactDto>;

@{
    ViewData["Title"] = "InformCPI Contacts";
}

<h1>Contacts</h1>


<h2>Inform CPI Contacts</h2>

<a href="/CreateContact" class="elements">
    <span>Create</span>
</a>

<p>Manage your contacts here</p>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |

                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            </tr>
        }
    </table>
}
